body{
    background-color:#ffba08 ;
    margin:0px;
}

img{
    height:80px;
    width:150px;
    padding-right:20px;
    padding-left:10px;
}

header{
    display:flex;
    align-items:center;
    background-color:#fbf8cc;
}

.header a{
    padding: 0px 20px;
}

#information{
   // background-color:#a3c4f3;
}

#about{
    display:flex;
    align-items:center;
}

video{
    float:right;
    margin-left:500px;
    margin-bottom:20px;
}

audio{
    padding: 0px 5px;
}

a:hover{
    color:red;
}

.video-audio{
    //display:flex;
   background-color:#936639;
    color:#a2d2ff;
    align-items:center;
    justify-content:center;
}

.video-audio h2{
   align-items:center;
    padding:10px;
   justify-content:center
   text-align: center;
}

#information{
   // background-color:#d4a373
}

#connect{
    display:flex;
    align-items:center;
   background-color:#caf0f8;
}

#connect a{
    padding: 0px 10px;
}

#connect p{
    margin-left:800px;
}

::selection{
    color:yellow;
    background:red;
}